@page
@model IndexModel
@{
    ViewData["Title"] = "La maison des amoureux de la pizza";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2023, 8, 14);
}

<div class="text-center">
    <h1 class="display-4">Bienvenue chez Contoso Pizza</h1>
    <p class="lead">Les meilleures pizzas de la ville depuis @Convert.ToInt32(timeInBusiness.TotalDays) jours !</p>
</div>
